<section class="py-2">
    <div class="row">
        <div class="col-md-6 text-center">
            <h1 class="display-3 mt-3 pt-5">
                Web Development Ebook
            </h1><p class="lead">Learn web development front to back</p>
            <form action="/your-server-side-code" method="POST">
                <script
                    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="pk_test_alfe37eE6Fgb7pXd3CYI9yLm"
                    data-amount="25"
                    data-name="Web Development Ebook"
                    data-description="Ebook written by Brad Traversy"
                    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                    data-locale="auto">
                </script>
                </form>
        </div>
        <div class="col-md-6">
            
        </div>
    </div>
</section>