@import url("https://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope|Fondamento|Overlock+SC");
#banner {
  font-family: Overlock SC;
  background: #b61c1c;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }

.bg-image {
  color: white; }
  .bg-image h2 {
    padding-bottom: 20px; }

img {
  margin: 20px;
  width: 70%;
  height: auto; }

#section-bio {
  background: gray;
  color: white;
  font-family: Overlock SC; }
  #section-bio p {
    font-family: Fondamento;
    padding: 0 2em;
    padding-bottom: 20px;
    margin: 0; }

#section-music {
  font-family: Overlock SC;
  background: #975858;
  color: white; }
  #section-music h2 {
    margin: 0;
    padding: 20px; }

#section-contact {
  overflow: auto;
  color: white;
  background: #3085f5; }
  #section-contact h2 {
    margin: 0;
    padding: 20px; }

.instagram {
  text-decoration: none;
  color: white; }

.instagram:hover {
  color: #023279; }

.donate-btn {
  background: white;
  width: 100px;
  margin: 0 auto 20px auto;
  padding: 20px;
  box-shadow: 2px 2px 8px black; }

.donate-btn:hover {
  background: #c7c4c4; }

#main-footer {
  padding: 2em;
  background: #000;
  color: #fff;
  text-align: center; }
  #main-footer a {
    color: #2698d4;
    text-decoration: none; }

@media (min-width: 700px) {
  #section-bio {
    overflow: auto; }
    #section-bio h2 {
      margin: 0;
      padding: 20px; }
    #section-bio img {
      float: left;
      width: 30%; } }
