@import "../variables.scss";

body {
    color: white;
    font-family: $font-bold;
    background: black;
}

h1{
    margin:0;
    padding:20px;
}
h1, h2, h3, h4 {
font-family: $font-native;

}


#banner{
    background: linear-gradient(rgb(17, 50, 99), black );
    font-family: $font-native;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-image{
    width:90%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;

    color: white;
    h2{
        padding-bottom: 20px;
    }
}

.bio-image {
    margin: 5px;
    width: 50%;
    height: auto;
    border-radius: 50%;            
    border-style: solid;
    border-width: 5px;
}

#section-bio {
    color: white;
    p {
        font-family: $font-bold;
       padding:0 2em;
       padding-bottom: 20px;
       margin: 0;
   }
}

#section-music { 
    margin-top:20px;
    background: black;
    background-image: url("../assets/stump.JPG");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: white; 
    h2 {
        margin: 0;
        padding: 20px;
    }
}

.album-cover {
    width: 50%;
    height: auto;
    box-shadow: 2px 2px 3px rgb(0, 0, 0);
    margin-bottom: 20px;
}

.track-list{
    margin: 15px;
}

#section-contact {
    overflow: auto;
    color: white;
    background: linear-gradient(black, rgb(17, 50, 99));
    h2 {
        margin: 0;
        padding: 20px;
    }
}

.instagram {
    text-decoration: none;
    color: white;
}

.instagram:hover {
    color: rgb(2, 50, 121)
    
}

.input-field {
    margin-bottom:20px;
}

#main-footer{
    font-family: sans-serif;
    padding: 2em;
    background: #000;
    color: #fff;
    text-align: center;
    a {
    color: #2698d4;
    text-decoration: none;
    }
}

// Media Queries


@media(min-width: 700px) {
    .bg-image {
        width: 65%;
    }
    #section-bio {
        overflow: auto;
        h2 {
            margin:0;
            padding:20px;
        }
        img {
            float: left;
        width: 30%;
        }
    }
    video {
        width:60%;
    }
    .grid1 {
        display: grid;
       grid-template-columns: 1fr 1fr;
    }
}

@media(min-width: 999px) {
    #section-music {
        margin-left: auto;
        margin-right: auto;
        width:70%;
        background-size: cover;
    }

    .album-cover{
        width: 35%;
    }

    video {
        width: 45%;
    }
    .grid1 {
        display: grid;
       grid-template-columns: 1fr 1fr;
    }
}