@import url("https://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope|Fondamento|Overlock+SC");
body {
  color: white;
  font-family: Fondamento;
  background: black; }

h1 {
  margin: 0;
  padding: 20px; }

h1, h2, h3, h4 {
  font-family: Overlock SC; }

#banner {
  background: black;
  font-family: Overlock SC;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }

.bg-image {
  width: 90%;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  color: white; }
  .bg-image h2 {
    padding-bottom: 20px; }

.bio-image {
  margin: 20px;
  width: 50%;
  height: auto; }

#section-bio {
  background: linear-gradient(#031d44, black);
  color: white; }
  #section-bio p {
    font-family: Fondamento;
    padding: 0 2em;
    padding-bottom: 20px;
    margin: 0; }

#section-music {
  background: black;
  background-image: url("../assets/stump.JPG");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  color: white; }
  #section-music h2 {
    margin: 0;
    padding: 20px; }

#section-contact {
  overflow: auto;
  color: white;
  background: linear-gradient(black, #031d44); }
  #section-contact h2 {
    margin: 0;
    padding: 20px; }

.instagram {
  text-decoration: none;
  color: white; }

.instagram:hover {
  color: #023279; }

.input-field {
  margin-bottom: 20px; }

#main-footer {
  font-family: sans-serif;
  padding: 2em;
  background: #000;
  color: #fff;
  text-align: center; }
  #main-footer a {
    color: #2698d4;
    text-decoration: none; }

@media (min-width: 700px) {
  .bg-image {
    width: 65%; }
  #section-bio {
    overflow: auto; }
    #section-bio h2 {
      margin: 0;
      padding: 20px; }
    #section-bio img {
      float: left;
      width: 30%; }
  video {
    width: 70%; } }

@media (min-width: 999px) {
  #section-music {
    background-size: cover; }
  video {
    width: 45%; } }
