@import "../variables.scss";

body {
    color: white;
    font-family: $font-bold;
    background: black;
}

h1{
    margin:0;
    padding:20px;
}
h1, h2, h3, h4 {
font-family: $font-native;

}


#banner{
    background: black;
    font-family: $font-native;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-image{
    width:90%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;

    color: white;
    h2{
        padding-bottom: 20px;
    }
}

.bio-image {
    margin: 20px;
    width: 50%;
    height: auto;
}

#section-bio {
    background: linear-gradient(rgb(3, 29, 68), black);
    color: white;
    p {
        font-family: $font-bold;
       padding:0 2em;
       padding-bottom: 20px;
       margin: 0;
   }
}

#section-music { 
    background: black;
    background-image: url("../assets/stump.JPG");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: white; 
    h2 {
        margin: 0;
        padding: 20px;
    }
}

#section-contact {
    overflow: auto;
    color: white;
    background: linear-gradient(black, rgb(3, 29, 68));
    h2 {
        margin: 0;
        padding: 20px;
    }
}

.instagram {
    text-decoration: none;
    color: white;
}

.instagram:hover {
    color: rgb(2, 50, 121)
    
}

.input-field {
    margin-bottom:20px;
}

#main-footer{
    font-family: sans-serif;
    padding: 2em;
    background: #000;
    color: #fff;
    text-align: center;
    a {
    color: #2698d4;
    text-decoration: none;
    }
}

// Media Queries


@media(min-width: 700px) {
    .bg-image {
        width: 65%;
    }
    #section-bio {
        overflow: auto;
        h2{
            margin:0;
            padding:20px;
        }
        img {
            float: left;
        width: 30%;
    }
}
    video {
        width:70%;
    }
}

@media(min-width: 999px) {
    #section-music {
        background-size: cover;
    }

    video {
        width: 45%;
    }
}