@import url('https://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope|Fondamento|Overlock+SC');

// font-family: 'Annie Use Your Telescope', cursive;
// font-family: 'Fondamento', cursive;
// font-family: 'Overlock SC', cursive;

$font-bold: Fondamento;
$font-native: Overlock SC;

$color-dark: #114b5f; //content, outlines
$color-light: snow; //large background
$color-medium: #1A936F; // mostly used
$color-dull: #C6DABF; //used for layouts
$color-bright: #88D498; //used for accents
$color-contrast: #da2727;
$color-header: rgb(5, 153, 252);